@import "../../vars.css";

.emailContainer {
    position: fixed;
    bottom: 0;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.emailLink {
    writing-mode: vertical-rl;
    margin-bottom: 20px;
    font-family: var(--font-roboto);
    font-size: 14px;
    letter-spacing: 0.1em;
    color: var(--color-grey);
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 10px;
}

.emailLink:hover {
    color: var(--color-text);
    transform: translateY(-3px);
}

.verticalLine {
    width: 2px;
    height: 90px;
    background-color: var(--color-grey);
}

@media screen and (max-width: 1024px) {
    .emailContainer {
        display: none;
    }
}
